<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>NSMicrophoneUsageDescription</key>
    <string>This is required for sending Voice Messages as well as other voice activities, such as calls.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>This is required to receive and save files.</string>
  </dict>
</plist>